# starting point

In [2]:
# rerun if needed
# %pip install pandas matplotlib seaborn

import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
data = pd.read_csv('teams.csv')
# print (data.head())
print(data.columns.tolist())

['team_id', 'team_name', 'season', 'league_id', 'team_form', 'games_played_home', 'games_played_away', 'wins_home', 'losses_home', 'draws_home', 'wins_away', 'losses_away', 'draws_away', 'stadium_capacity', 'team_country', 'goals_scored_0_15', 'goals_scored_16_30', 'goals_scored_31_45', 'goals_scored_46_60', 'goals_scored_61_75', 'goals_scored_76_90', 'goals_scored_91_105', 'goals_scored_106_120', 'goals_conceded_0_15', 'goals_conceded_16_30', 'goals_conceded_31_45', 'goals_conceded_46_60', 'goals_conceded_61_75', 'goals_conceded_76_90', 'goals_conceded_91_105', 'goals_conceded_106_120', 'clean_sheets', 'failed_to_score', 'penalty_success_rate', 'over_0_5', 'under_0_5', 'over_1_5', 'under_1_5', 'over_2_5', 'under_2_5', 'over_3_5', 'under_3_5', 'over_4_5', 'under_4_5', 'yellow_cards_0_15', 'yellow_cards_16_30', 'yellow_cards_31_45', 'yellow_cards_46_60', 'yellow_cards_61_75', 'yellow_cards_76_90', 'yellow_cards_91_105', 'yellow_cards_106_120', 'red_cards_0_15', 'red_cards_16_30', 'red_cards_31_45', 'red_cards_46_60', 'red_cards_61_75', 'red_cards_76_90', 'red_cards_91_105', 'red_cards_106_120']

### find nulls

In [3]:
# Count the number of missing values in each column
missing_values = data.isnull().sum()
# Filter and print only the columns with missing values greater than zero
non_zero_missing = missing_values[missing_values > 0]
print(non_zero_missing)

team_form                  67
team_country               37
goals_scored_0_15          59
goals_scored_16_30         59
goals_scored_31_45         60
goals_scored_46_60         59
goals_scored_61_75         59
goals_scored_76_90         59
goals_scored_91_105        63
goals_scored_106_120      139
goals_conceded_0_15        59
goals_conceded_16_30       59
goals_conceded_31_45       59
goals_conceded_46_60       59
goals_conceded_61_75       59
goals_conceded_76_90       59
goals_conceded_91_105      62
goals_conceded_106_120    139
clean_sheets               37
failed_to_score            37
penalty_success_rate       37
over_0_5                   37
under_0_5                  37
over_1_5                   37
under_1_5                  37
over_2_5                   37
under_2_5                  37
over_3_5                   37
under_3_5                  37
over_4_5                   37
under_4_5                  37
yellow_cards_0_15          62
yellow_cards_16_30         59
yellow_cards_31_45         59
yellow_cards_46_60         59
yellow_cards_61_75         59
yellow_cards_76_90         59
yellow_cards_91_105        72
yellow_cards_106_120      139
red_cards_0_15            131
red_cards_16_30           126
red_cards_31_45           117
red_cards_46_60           111
red_cards_61_75           111
red_cards_76_90           106
red_cards_91_105          123
red_cards_106_120         139
dtype: int64

### fill nulls

In [ ]:
# List of stuff we will change from null to 0
columns_to_fill_0 = [ 'goals_scored_0_15', 'goals_scored_16_30', 'goals_scored_31_45', 'goals_scored_46_60', 
                     'goals_scored_61_75', 'goals_scored_76_90', 'goals_scored_91_105', 'goals_scored_106_120', 
                     'goals_conceded_0_15', 'goals_conceded_16_30', 'goals_conceded_31_45', 'goals_conceded_46_60', 
                     'goals_conceded_61_75', 'goals_conceded_76_90', 'goals_conceded_91_105', 'goals_conceded_106_120',
                     'over_0_5', 'under_0_5', 'over_1_5', 'under_1_5', 'over_2_5', 'under_2_5', 'over_3_5', 'under_3_5',
                     'over_4_5', 'under_4_5', 'yellow_cards_0_15', 'yellow_cards_16_30', 'yellow_cards_31_45', 'yellow_cards_46_60',
                     'yellow_cards_61_75', 'yellow_cards_76_90', 'yellow_cards_91_105', 'yellow_cards_106_120', 'red_cards_0_15',
                     'red_cards_16_30', 'red_cards_31_45', 'red_cards_46_60', 'red_cards_61_75', 'red_cards_76_90', 'red_cards_91_105', 'red_cards_106_120']

# Replace NaN with 0 in the specified columns
data[columns_to_fill_0] = data[columns_to_fill_0].fillna(0)
# Count the number of missing values in each column
missing_values = data.isnull().sum()
# Filter and print only the columns with missing values greater than zero
non_zero_missing = missing_values[missing_values > 0]
print(non_zero_missing)

team_form               67
team_country            37
clean_sheets            37
failed_to_score         37
penalty_success_rate    37
dtype: int64

## explore data

### fill team country - its empty always, not helping

In [20]:
# Count of NaN in team_country before filling
count_nan_before = data['team_country'].isnull().sum()
print(f"Number of empty team_country before filling: {count_nan_before}")

# Check for teams with NaN in team_country
nan_teams = data[data['team_country'].isnull()]

# Iterate over each team with NaN in team_country
for index, row in nan_teams.iterrows():
    team_name = row['team_name']
    # Find other entries for the same team that have a valid team_country
    valid_country = data[(data['team_name'] == team_name) & (data['team_country'].notnull())]['team_country']
    
    # If a valid country is found, fill the NaN in the current row
    if not valid_country.empty:
        data.at[index, 'team_country'] = valid_country.iloc[0]  # Use the first valid country found

# Count of NaN in team_country after filling
count_nan_after = data['team_country'].isnull().sum()
print(f"Number of empty team_country after filling: {count_nan_after}")



# but i can fill with England for now
# Count of NaN in team_country before filling
count_nan_before = data['team_country'].isnull().sum()
print(f"Number of empty team_country before filling: {count_nan_before}")

# Fill all missing values in team_country with 'England'
data['team_country'].fillna('England', inplace=True)

# Count of NaN in team_country after filling
count_nan_after = data['team_country'].isnull().sum()
print(f"Number of empty team_country after filling: {count_nan_after}")

Number of empty team_country before filling: 0
Number of empty team_country after filling: 0
Number of empty team_country before filling: 0
Number of empty team_country after filling: 0

### look what is missing

In [21]:
# Filter the DataFrame for rows with null values in the specified columns
null_rows = data[data[['team_form', 'clean_sheets', 
                        'failed_to_score', 'penalty_success_rate']].isnull().any(axis=1)]

# Select only the relevant columns for display
columns_to_display = ['team_name', 'season', 'team_form', 
                      'clean_sheets', 'failed_to_score', 'penalty_success_rate']

# Display rows with null values in each specified column
for column in ['team_form', 'team_country', 'clean_sheets', 'failed_to_score', 'penalty_success_rate']:
    print(f"\nRows with null values in '{column}':")
    rows_with_null = null_rows[null_rows[column].isnull()][columns_to_display]
    print(rows_with_null.head(10))  # Print the first 10 rows for this specific column

# Print the total number of rows with any null values
total_null_rows = null_rows.shape[0]
print(f"\nTotal rows with null values across specified columns: {total_null_rows}")

Rows with null values in 'team_form':
            team_name  season team_form  clean_sheets  failed_to_score  \
0           Hull City    2010       NaN           NaN              NaN
2   Nottingham Forest    2020       NaN           0.0              0.0
3         Bournemouth    2020       NaN           0.0              0.0
4               Leeds    2010       NaN           NaN              NaN
5               Leeds    2020       NaN          12.0             10.0
8         Bournemouth    2010       NaN           NaN              NaN
9         Bournemouth    2021       NaN           0.0              0.0
11     Crystal Palace    2023       NaN          10.0              7.0
13           Brighton    2010       NaN           NaN              NaN
14           Brighton    2020       NaN          12.0             12.0

    penalty_success_rate
0                    NaN
2                    0.0
3                    0.0
4                    NaN
5                  100.0
8                    NaN
9                    0.0
11                 100.0
13                   NaN
14                 100.0

Rows with null values in 'team_country':
Empty DataFrame
Columns: [team_name, season, team_form, clean_sheets, failed_to_score, penalty_success_rate]
Index: []

Rows with null values in 'clean_sheets':
        team_name  season                              team_form  \
0       Hull City    2010                                    NaN
1           Wigan    2010  LLWDLDWDDLLDWLLDDWDLDDLLDWDLLWDLWLDDW
4           Leeds    2010                                    NaN
7       Blackburn    2010  WLLDDWLDLLWWLWLWLDLWLWLWLLDLLDDDLLWDD
8     Bournemouth    2010                                    NaN
10       West Ham    2010  LLLLDWDDLLDDDLWLLDWDWLLDWLDWWDLLLLLDL
13       Brighton    2010                                    NaN
17         Fulham    2010  DDDWDDDLLWDLDLDLDLWLWDWLWDDDWLWLDWWLW
19  Sheffield Utd    2010                                    NaN
20            QPR    2010                                    NaN

    clean_sheets  failed_to_score  penalty_success_rate
0            NaN              NaN                   NaN
1            NaN              NaN                   NaN
4            NaN              NaN                   NaN
7            NaN              NaN                   NaN
8            NaN              NaN                   NaN
10           NaN              NaN                   NaN
13           NaN              NaN                   NaN
17           NaN              NaN                   NaN
19           NaN              NaN                   NaN
20           NaN              NaN                   NaN

Rows with null values in 'failed_to_score':
        team_name  season                              team_form  \
0       Hull City    2010                                    NaN
1           Wigan    2010  LLWDLDWDDLLDWLLDDWDLDDLLDWDLLWDLWLDDW
4           Leeds    2010                                    NaN
7       Blackburn    2010  WLLDDWLDLLWWLWLWLDLWLWLWLLDLLDDDLLWDD
8     Bournemouth    2010                                    NaN
10       West Ham    2010  LLLLDWDDLLDDDLWLLDWDWLLDWLDWWDLLLLLDL
13       Brighton    2010                                    NaN
17         Fulham    2010  DDDWDDDLLWDLDLDLDLWLWDWLWDDDWLWLDWWLW
19  Sheffield Utd    2010                                    NaN
20            QPR    2010                                    NaN

    clean_sheets  failed_to_score  penalty_success_rate
0            NaN              NaN                   NaN
1            NaN              NaN                   NaN
4            NaN              NaN                   NaN
7            NaN              NaN                   NaN
8            NaN              NaN                   NaN
10           NaN              NaN                   NaN
13           NaN              NaN                   NaN
17           NaN              NaN                   NaN
19           NaN              NaN                   NaN
20           NaN              NaN                   NaN

Rows with null values in 'penalty_success_rate':
        team_name  season                              team_form  \
0       Hull City    2010                                    NaN
1           Wigan    2010  LLWDLDWDDLLDWLLDDWDLDDLLDWDLLWDLWLDDW
4           Leeds    2010                                    NaN
7       Blackburn    2010  WLLDDWLDLLWWLWLWLDLWLWLWLLDLLDDDLLWDD
8     Bournemouth    2010                                    NaN
10       West Ham    2010  LLLLDWDDLLDDDLWLLDWDWLLDWLDWWDLLLLLDL
13       Brighton    2010                                    NaN
17         Fulham    2010  DDDWDDDLLWDLDLDLDLWLWDWLWDDDWLWLDWWLW
19  Sheffield Utd    2010                                    NaN
20            QPR    2010                                    NaN

    clean_sheets  failed_to_score  penalty_success_rate
0            NaN              NaN                   NaN
1            NaN              NaN                   NaN
4            NaN              NaN                   NaN
7            NaN              NaN                   NaN
8            NaN              NaN                   NaN
10           NaN              NaN                   NaN
13           NaN              NaN                   NaN
17           NaN              NaN                   NaN
19           NaN              NaN                   NaN
20           NaN              NaN                   NaN

Total rows with null values across specified columns: 87

In [25]:
# Check for teams missing all specified parameters
missing_params_teams = data[data[['team_form', 'clean_sheets', 'failed_to_score', 'penalty_success_rate']].isnull().all(axis=1)]

# Print the results
if missing_params_teams.empty:
    print("No teams are missing all specified parameters.")
else:
    print("Teams missing all specified parameters (team name and season):")
    print(missing_params_teams[['team_name', 'season']])  # Display team name and season

Teams missing all specified parameters (team name and season):
            team_name  season
0           Hull City    2010
4               Leeds    2010
8         Bournemouth    2010
13           Brighton    2010
19      Sheffield Utd    2010
20                QPR    2010
23          Brentford    2010
25              Luton    2010
28            Norwich    2010
42            Cardiff    2010
49          Leicester    2010
61     Crystal Palace    2010
62  Nottingham Forest    2010
63        Southampton    2010
69            Burnley    2010
71            Watford    2010
76            Swansea    2010

In [26]:
# Create a DataFrame to count missing values by season and parameter type
missing_counts = data.groupby('season')[['team_form', 'clean_sheets', 'failed_to_score', 'penalty_success_rate']].apply(lambda x: x.isnull().sum())

# Print the results
print("Missing data counts by season and parameter type:")
print(missing_counts)

Missing data counts by season and parameter type:
        team_form  clean_sheets  failed_to_score  penalty_success_rate
season
2010           17            37               37                    37
2020           11             0                0                     0
2021           13             0                0                     0
2022           13             0                0                     0
2023           13             0                0                     0